body
	background-color: lightgray;
}

div{
	border: 1% solid white;
}

input[type=text]{
	width: 80%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}
.size{
	width: 40%;
	box-sizing: border-box;
	float: left;
}
.colom{
	width: 70%;
	box-sizing: border-box;
	left: 52px;
}
textarea{
	width: 80%;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	resize: none;
	position: absolute;
	top: 250px;
	left: 52px;
}
