nav	{
	color: white;
	border: 2px solid purple;
	text-align: center;
	width: 10em;
	background-color: purple;}

nav ul {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;}

nav:hover ul {display: block;}
nav ul li {
	border-top: 2px solid purple;
	background-color: white;
	width: 10em;
	color: black ;
	background-color: #D7A1F9;
	margin:0 ;
	padding: 0;
}
nav ul li:hover{
	background-color: lavender;
}
a{
	text-decoration: none;
}

